Repository BossClaw/cpan-113-group-proj, pull requests merged in 2025-03, with the labels that each got.

#71 Feature/game view
  .vscode/settings.json
  gameplay/game-view/bg.png
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/game-view/temp-gameplay.html
Labels: GAMEPLAY

#73 added words.json
  .gitignore
  .vscode/settings.json
  gameplay/words.json
Labels: GAMEPLAY

#76 Feature/game classes init
  gameplay/enemy/enemy.css
  gameplay/enemy/enemy.js
  gameplay/game-view/temp-gameplay.html
  gameplay/game/game.css
  gameplay/game/game.js
  package.json
Labels: GAMEPLAY, ENEMIES

#79 Feature/mission configure
  missionConfigure.html
  missionConfigure/missionConfigure.css
  missionConfigure/missionConfigure.js
Labels: PLAYER_DATA

#77 Gameview/audio
  main.js
  play/audio/sfx/enemy_attack_projectile.wav
  play/audio/sfx/enemy_disintegrate_hi.wav
  play/audio/sfx/enemy_disintegrate_md.wav
  play/audio/sfx/enemy_distintegrate_lo.wav
  play/audio/sfx/enemy_energy_hi.wav
  play/audio/sfx/enemy_energy_lo.wav
  play/audio/sfx/enemy_energy_md.wav
  play/audio/sfx/enemy_hit_hi.wav
  play/audio/sfx/enemy_hit_lo.wav
  play/audio/sfx/enemy_hit_md.wav
  play/audio/sfx/enemy_spawn_hi.wav
  play/audio/sfx/enemy_spawn_lo_a.wav
  play/audio/sfx/enemy_spawn_lo_b.wav
  play/audio/sfx/mainframe_collapse.wav
  play/audio/sfx/mainframe_hit_a.wav
  play/audio/sfx/mainframe_hit_b.wav
  play/audio/sfx/mainframe_powerup_a.wav
  play/audio/sfx/mainframe_powerup_b.wav
  play/audio/sfx/mainframe_powerup_c.wav
  play/audio/sfx/mission_lose_a.wav
  play/audio/sfx/mission_lose_b.wav
  play/audio/sfx/mission_lose_c.wav
  play/audio/sfx/mission_lose_vox_laugh.wav
  play/audio/sfx/player_collapse.wav
  play/audio/sfx/player_laser.wav
  play/audio/sfx/player_reload.wav
  play/audio/sfx/player_spawn_a.wav
  play/audio/sfx/player_spawn_b.wav
Labels: GAMEPLAY, AUDIO

#80 Feature/mission play
  gameplay.html
  gameplay/gameplay.css
  gameplay/gameplay.js
  gameplay/keyboard/keyboard.css
  gameplay/keyboard/keyboard.js
  missionConfigure/missionConfigure.js
Labels: GAMEPLAY

#85 Feature/game classes init
  gameplay/enemy/enemy.css
  gameplay/enemy/enemy.js
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/game-view/temp-gameplay.html
  gameplay/game/game.css
  gameplay/game/game.js
  gameplay/player/player.css
  gameplay/player/player.js
Labels: GAMEPLAY, ENEMIES, PLAYER

#86 add game class to gameplay.js, combine keyboard with game-screen
  gameplay.html
  gameplay/enemy/enemy.js
  gameplay/game/game.js
  gameplay/gameplay.css
  gameplay/gameplay.js
  gameplay/player/player.js
Labels: GAMEPLAY, ENEMIES

#84 audio: Add ALPHA defeat / victory fanfares
  gameplay/audio/music/2022-01-16 Big Music Bundle 2.txt
  gameplay/audio/music/Retro Defeat #3.wav
  gameplay/audio/music/Retro Defeat #5.wav
  gameplay/audio/music/Retro Victory #1.wav
  gameplay/audio/music/Retro Victory #2.wav
Labels: GAMEPLAY, AUDIO

#83 common: Add ALPHA common.html
  common.html
  css/anim.css
  css/bg.css
  css/common.css
  css/crt.css
  fonts/LICENSE.txt
  fonts/PressStart2P.ttf
  img/bg/bg.aseprite
  img/bg/bg_BG.png
  img/bg/bg_FG.png
  img/bg/bg_MG.png
  img/bg/bg_SKY.png
  img/title/C64 Logo Generator License.txt
  img/title/cta_hero.png
  img/title/type_defender_logo_a.png
  img/title/type_defender_logo_b.png
  img/title/type_defender_logo_c.png
  img/title/type_defender_logo_d.png
  img/title/type_defender_logo_e.png
  img/title/type_defender_logo_f.png
  img/type defender_c.png
  img/ui/border.png
  img/ui/cursor.png
  js/common.js
  js/helpers.js
Labels: UI

#87 Feature/mission play
  gameplay.html
  gameplay/enemy/enemy.js
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/gameplay.css
  gameplay/gameplay.js
  gameplay/keyboard/keyboard.css
Labels: GAMEPLAY

#88 Feature/mission configure
  missionConfigure.html
  missionConfigure/missionConfigure.css
  missionConfigure/missionConfigure.js
Labels: GAMEPLAY, PLAYER_DATA
