Repository BossClaw/cpan-113-group-proj, pull requests merged in 2025-04, with the labels that each got.

#90 get settings from local storage and apply to game
  gameplay/gameplay.js
Labels: GAMEPLAY, PLAYER_DATA

#97 Feature/mission play
  gameplay/enemy/bug.gif
  gameplay/enemy/enemy.css
  gameplay/enemy/enemy.js
  gameplay/enemy/error.gif
  gameplay/enemy/infinite-loop.gif
  gameplay/enemy/stack-overflow.gif
  gameplay/enemy/underrun.gif
  gameplay/game-view/bg_010001.png
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/game/game.js
  gameplay/gameplay.css
  gameplay/keyboard/keyboard.js
  gameplay/player/cybo_duck_big.gif
  gameplay/player/player.css
  gameplay/player/player.js
  gameplay/player/player_idle.gif
Labels: UI, GAMEPLAY, ENEMIES, PLAYER

#98 Feature/highscore enter name
  game_settings.js
  gameplay.html
  gameplay/enemy/enemy.js
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/game-view/temp-gameplay.html
  gameplay/game/flaggedNames.js
  gameplay/game/game.css
  gameplay/game/game.js
  gameplay/game/scoreManager.js
  gameplay/gameplay.js
  gameplay/keyboard/keyboard.js
Labels: GAMEPLAY, PLAYER_DATA

#102 Debug
  gameplay/gameplay.js
  missionConfigure/missionConfigure.js
Labels: bug

#103 tookout home slash from enemy and player urls
  gameplay/enemy/enemy.js
  gameplay/player/player.css
Labels: bug

#105 Changed url path for player
  gameplay/player/player.css
Labels: bug

#112 Feature/gameplay audio
  gameplay/audio/music/Retro Defeat 3.wav
  gameplay/audio/music/Retro Defeat 5.wav
  gameplay/audio/music/Retro Victory 1.wav
  gameplay/enemy/enemy.js
  gameplay/game-audio/gameAudio.js
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/game/game.js
  gameplay/player/player.js
Labels: GAMEPLAY, AUDIO

#113 Feature/leaderboard
  css/leaderboard.css
  index.html
  leaderboard.js
Labels: UI

#114 DEBUG - changed exit path
  gameplay/game/game.js
Labels: bug

#118 fix leaderboard covered by the footer
  css/leaderboard.css
Labels: bug

#119 Gameview/background
  gameplay/background.js
  gameplay/background/bg_00.aseprite
  gameplay/background/bg_00_glitch.gif
  gameplay/background/bg_00_win.png
  gameplay/background/bg_01_glitch.gif
  gameplay/background/bg_01_win.png
  gameplay/background/bg_02_glitch.gif
  gameplay/background/bg_02_glitch_01.png
  gameplay/background/bg_02_glitch_02.png
  gameplay/background/bg_02_glitch_03.png
  gameplay/background/bg_02_win.png
  gameplay/background/bg_03.aseprite
  gameplay/background/bg_03_glitch.gif
  gameplay/background/bg_03_win.png
  gameplay/background/bg_04_glitch.gif
  gameplay/background/bg_04_win.png
  gameplay/background/bg_05_glitch.gif
  gameplay/background/bg_05_win.png
  gameplay/background/bg_06_glitch.gif
  gameplay/background/bg_06_win.png
  gameplay/background/bg_07_glitch.gif
  gameplay/background/bg_07_win.png
  gameplay/background/bg_08_glitch.gif
  gameplay/background/bg_08_win.png
  gameplay/background/bg_09_glitch.gif
  gameplay/background/bg_09_win.png
  gameplay/game-view/gameview.js
  gameplay/game/game.js
Labels: VISUALS, GAMEPLAY

#122 assets: Add player fire anim
  gameplay/player/player_fire.gif
Labels: GAMEPLAY, PLAYER

#126 player: tidy file names, set fixed player css size
  gameplay/player/cybo_duck_big.gif
  gameplay/player/player.aseprite
  gameplay/player/player.css
  gameplay/player/player_idle.gif
Labels: PLAYER

#127 aud: Add first pass of key press noises to keyboard.
  gameplay/gameplay.js
Labels: GAMEPLAY

#129 Common
  css/common.css
  index.html
  js/common.js
  js/index.js
Labels: UI

#130 Feature/mainframe
  gameplay.html
  gameplay/enemy/enemy.css
  gameplay/enemy/enemy.js
  gameplay/game/game.js
  gameplay/mainframe/mainframe.css
  gameplay/mainframe/mainframe.js
  gameplay/player/player.css
  gameplay/player/player.js
Labels: GAMEPLAY

#132 Feature/mission configure
  game_settings.js
  gameplay/gameplay.js
  missionConfigure/missionConfigure.js
Labels: PLAYER_DATA

#135 add player shooting sprite and css
  gameplay/player/player.css
  gameplay/player/player.js
Labels: PLAYER

#136 Balance/enemy spawn
  css/leaderboard.css
  gameplay/enemy/enemy.css
  gameplay/enemy/enemy.js
  gameplay/enemy/enemyDictionary.js
  gameplay/enemy/enemySpawnList.js
  gameplay/firewall/firewall.css
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/game/game.js
  gameplay/mainframe/mainframe.css
  gameplay/player/player.css
  leaderboard.js
Labels: GAMEPLAY

#137 Feature/gameplay audio
  gameplay/game-audio/gameAudio.js
  gameplay/game-view/gameview.js
  gameplay/game/game.js
Labels: AUDIO

#138 UX Polish & Fixes
  css/common.css
  gameplay.html
  gameplay/game/game.js
  index.html
  js/bg.js
  js/common.js
  missionConfigure/missionConfigure.js
Labels: UI, AUDIO, CHORE

#142 Common
  css/common.css
Labels: UI

#143 viz: Add PRE-RELEASE backgrounds
  gameplay/background.js
  gameplay/background/bg_00.aseprite
  gameplay/background/bg_00_glitch.gif
  gameplay/background/bg_00_win.png
  gameplay/background/bg_01.aseprite
  gameplay/background/bg_01_glitch.gif
  gameplay/background/bg_01_win.png
  gameplay/background/bg_02.aseprite
  gameplay/background/bg_02_glitch.gif
  gameplay/background/bg_02_glitch_01.png
  gameplay/background/bg_02_glitch_02.png
  gameplay/background/bg_02_glitch_03.png
  gameplay/background/bg_02_win.png
  gameplay/background/bg_03.aseprite
  gameplay/background/bg_03_glitch.gif
  gameplay/background/bg_03_win.png
  gameplay/background/bg_04.aseprite
  gameplay/background/bg_04_glitch.gif
  gameplay/background/bg_04_win.png
  gameplay/background/bg_05.aseprite
  gameplay/background/bg_05_glitch.gif
  gameplay/background/bg_05_win.png
  gameplay/background/bg_06.aseprite
  gameplay/background/bg_06_glitch.gif
  gameplay/background/bg_06_win.png
  gameplay/background/bg_07.aseprite
  gameplay/background/bg_07_glitch.gif
  gameplay/background/bg_07_win.png
  gameplay/background/bg_08_glitch.gif
  gameplay/background/bg_08_win.png
  gameplay/background/bg_09_glitch.gif
  gameplay/background/bg_09_win.png
  gameplay/game-view/gameview.css
Labels: GAMEPLAY

#144 viz: Add player intro / outro anims
  gameplay/player/player_intro.gif
  gameplay/player/player_outro.gif
Labels: GAMEPLAY, PLAYER

#145 Debug
  gameplay/gameplay.js
  missionConfigure/missionConfigure.js
Labels: bug

#153 Improvement/game
  css/leaderboard.css
  gameplay/enemy/enemyDictionary.js
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/game/game.js
  gameplay/player/player.js
  leaderboard.js
Labels: bug, GAMEPLAY, PLAYER

#154 Add dev tools, do tidy chores and improve audio UX
  audio/sfx/menu_set.wav
  audio/sfx/menu_unset.wav
  css/anim.css
  css/common.css
  css/dev.css
  gameplay/game-audio/gameAudio.js
  img/ui/aud_icon.aseprite
  img/ui/aud_icon_loud.png
  img/ui/aud_icon_muted.png
  img/ui/viz_icon.aseprite
  img/ui/viz_icon_fx_off.png
  img/ui/viz_icon_fx_on.png
  index.html
  js/bg.js
  js/common.js
  js/dev.js
  missionConfigure/missionConfigure.js
Labels: UI, AUDIO, CHORE

#155 Anim restore and prep for BG update
  gameplay.html
  gameplay/gameplay.css
  gameplay/gameplay.js
Labels: VISUALS, GAMEPLAY

#158 common: code tidy, slight refactor, improve aud consent ux
  index.html
  js/common.js
Labels: AUDIO, CHORE

#159 Gameplay fixes, updates, chores, prep for final polishing.
  .gitignore
  gameplay.html
  gameplay/background.js
  gameplay/background/bg_00.aseprite
  gameplay/background/bg_00_glitch.gif
  gameplay/background/bg_00_win.png
  gameplay/background/bg_01.aseprite
  gameplay/background/bg_01_glitch.gif
  gameplay/background/bg_01_win.png
  gameplay/background/bg_02.aseprite
  gameplay/background/bg_02_glitch.gif
  gameplay/background/bg_02_win.png
  gameplay/background/bg_03.aseprite
  gameplay/background/bg_03_glitch.gif
  gameplay/background/bg_03_win.png
  gameplay/background/bg_04.aseprite
  gameplay/background/bg_04_glitch.gif
  gameplay/background/bg_04_win.png
  gameplay/background/bg_05.aseprite
  gameplay/background/bg_05_glitch.gif
  gameplay/background/bg_05_win.png
  gameplay/background/bg_06.aseprite
  gameplay/background/bg_06_glitch.gif
  gameplay/background/bg_06_win.png
  gameplay/background/bg_07.aseprite
  gameplay/background/bg_07_glitch.gif
  gameplay/background/bg_07_win.png
  gameplay/enemy/enemy.css
  gameplay/enemy/enemy.js
  gameplay/firewall/firewall.css
  gameplay/game-audio/gameAudio.js
  gameplay/game-view/gameoverlay.css
  gameplay/game-view/gameview.css
  gameplay/game-view/gameview.js
  gameplay/gameplay.css
  gameplay/gameplay.js
  gameplay/mainframe/mainframe.aseprite
  gameplay/mainframe/mainframe.css
  gameplay/mainframe/mainframe.js
  gameplay/mainframe/mainframe_000.gif
  gameplay/mainframe/mainframe_025.gif
  gameplay/mainframe/mainframe_050.gif
  gameplay/mainframe/mainframe_075.gif
  gameplay/mainframe/mainframe_100.gif
  index.html
Labels: GAMEPLAY, ENEMIES, PLAYER, AUDIO

#160 ux improvement, cta image update, chores
  css/common.css
  img/bg/bg_SKY.png
  img/help/help_on_screen_control.gif
  img/title/cta_hero.png
  index.html
  js/bg.js
  js/common.js
Labels: CREDITS, TITLE

#163 chore: update paths.
  js/common.js
Labels: CHORE

#162 (cont) updates to prep for PRE-RELEASE polish
  gameplay/audio/gameAudio.js
  gameplay/background/background.js
  gameplay/background/bg_00_glitch.gif
  gameplay/background/bg_00_win.png
  gameplay/enemy/enemy.js
  gameplay/mainframe/mainframe.aseprite
  gameplay/mainframe/mainframe.css
  gameplay/mainframe/mainframe.js
  gameplay/mainframe/mainframe_000.gif
  gameplay/player/player.js
  img/bg/bg_SKY.png
Labels: GAMEPLAY, ENEMIES, PLAYER, AUDIO

#168 Common
  audio/sfx/BUTTON_26_UI_CLICK.wav
  audio/sfx/Cassette – Thank You and Info.pdf
  audio/sfx/Shapeforms License Agreement.pdf
  audio/sfx/menu_set.wav
  audio/sfx/menu_unset.wav
  css/common.css
  css/leaderboard.css
  img/help/help_on_screen_control.gif
  img/ui/aud_icon_loud.png
  img/ui/aud_icon_muted.png
  img/ui/crt_icon.aseprite
  img/ui/crt_off.png
  img/ui/crt_on.png
  img/ui/viz_icon.aseprite
  img/ui/viz_icon_fx_off.png
  img/ui/viz_icon_fx_on.png
  index.html
  js/common.js
  leaderboard.js
  missionConfigure/missionConfigure.css
Labels: UI, CHORE

#167 Feature/mission play
  gameplay.html
  gameplay/audio/gameAudio.js
  gameplay/audio/ui/menu_set.wav
  gameplay/audio/ui/menu_unset.wav
  gameplay/background/background.js
  gameplay/background/bg_00.aseprite
  gameplay/background/bg_01.aseprite
  gameplay/background/bg_01_glitch.gif
  gameplay/background/bg_01_win.png
  gameplay/background/bg_02.aseprite
  gameplay/background/bg_02_glitch.gif
  gameplay/background/bg_02_win.png
  gameplay/background/bg_03.aseprite
  gameplay/background/bg_03_glitch.gif
  gameplay/background/bg_03_win.png
  gameplay/background/bg_04.aseprite
  gameplay/background/bg_04_glitch.gif
  gameplay/background/bg_04_win.png
  gameplay/background/bg_05.aseprite
  gameplay/background/bg_05_glitch.gif
  gameplay/background/bg_05_win.png
  gameplay/background/bg_06.aseprite
  gameplay/background/bg_06_glitch.gif
  gameplay/background/bg_06_win.png
  gameplay/background/bg_07.aseprite
  gameplay/background/bg_07_glitch.gif
  gameplay/background/bg_07_win.png
  gameplay/background/bg_tiles.aseprite
  gameplay/enemy/enemy.css
  gameplay/enemy/enemy.js
  gameplay/enemy/enemyDictionary.js
  gameplay/enemy/enemy_ideas.txt
  gameplay/enemy/img/enemy_hit.png
  gameplay/firewall/firewall.aseprite
  gameplay/firewall/firewall.css
  gameplay/firewall/firewall.js
  gameplay/firewall/firewall_000.png
  gameplay/firewall/firewall_025.png
  gameplay/firewall/firewall_050.png
  gameplay/firewall/firewall_075.png
  gameplay/firewall/firewall_100.png
  gameplay/game.js
  gameplay/gameview.js
  gameplay/mainframe/mainframe.aseprite
  gameplay/mainframe/mainframe.css
  gameplay/mainframe/mainframe.js
  gameplay/mainframe/mainframe_000.gif
  gameplay/mainframe/mainframe_025.gif
  gameplay/mainframe/mainframe_050.gif
  gameplay/mainframe/mainframe_075.gif
  gameplay/mainframe/mainframe_100.gif
  gameplay/mainframe/mainframe_hit.gif
  gameplay/player/player.css
  gameplay/player/player.js
  gameplay/player/player_intro.gif
Labels: GAMEPLAY, ENEMIES, PLAYER, AUDIO, CHORE

#169 setting max slider level to 30
  index.html
Labels: GAMEPLAY

#170 Improvement/game
  gameplay/enemy/enemyDictionary.js
  gameplay/enemy/enemySpawnList.js
  gameplay/game.js
  gameplay/gameview.js
  gameplay/mainframe/mainframe.js
  gameplay/overlay/gameoverlay.css
Labels: GAMEPLAY

#171 Common
  css/common.css
  gameplay/audio/gameAudio.js
  gameplay/audio/ui/game_start.wav
  index.html
  js/common.js
  missionConfigure/missionConfigure.js
Labels: UI, AUDIO, CHORE, TITLE

#172 ui: adj word vertical pos
  gameplay/gameplay.css
Labels: UI

#173 BUG: commented out setConsent which cause bug
  gameplay/game.js
Labels: bug

#174 READEME: update images
  README.md
  img/assets/config.png
  img/assets/gameplay-1.png
  img/assets/gameplay-2.png
  img/assets/gameplay.png
  img/assets/leaderboard.png
Labels: CHORE
